@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
:root {
  --background: var(--color-MainBg);
}
.dark {
  --background: var(--color-MainBg-dark);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-main: #E83C91;
  --color-MainBg: #fff;
  --color-MainBg-dark: #1D1F2B;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.container{
  margin: auto;
}
@media (max-width:650px){
  .container{
    padding: 0 5% !important;
  }
}
.flexCenter{
  display: flex;
  justify-content: center;
  align-items: center;
}
.search::placeholder{
  font-size: 14px;
}
.container-left {
  margin-left: auto;
  margin-right: 0;
}
/* framer motion  */
.section {
  position: relative;
}
.progress {
  position: fixed;
  left: 0;
  right: 0;
  height: 5px;
  background: red;
  bottom: 100px;
}

.parallax {
  overflow: hidden;
  letter-spacing: -2px;
  line-height: 0.8;
  margin: 0;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
}

.parallax .scroller {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 30px;
  display: flex;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
}
@media (max-width:600px) {
  .parallax .scroller {
  font-size: 24px;
}
}
.parallax span {
  display: block;
  margin-right: 30px;
}

.chooseHead {
  display: inline-block;
}

.chooseHead::before,
.chooseHead::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 80%;
  height: 1.5px;
  background-color: var(--hr);
  transform: translateY(-50%);
}

.chooseHead::before {
  right: 100%;
  margin-right: 30px; 
}

.chooseHead::after {
  left: 100%; 
  margin-left: 30px;
}
@media (max-width:835px) {
.chooseHead::before,
.chooseHead::after {
  width: 50%;
}
}
@media (max-width:640px) {
.chooseHead::before,
.chooseHead::after {
  width: 40%;
}
}

@media (max-width:490px) {
.chooseHead::before,
.chooseHead::after {
width: 20%;
}
.chooseHead::before {
  margin-right: 10px; 
}

.chooseHead::after {
  margin-left: 10px;
}
}
.header{
  background-image: url("../../public/header/background.png");
  position: relative;
}
.header::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.144);
  top: 0;
  left: 0;
  
}


