@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";
@layer base {
  :root {
    --main-bg:#000000;
    --main-sec-bg:#101828;
    /* Default Gradient */
    --text-main-color:rgb(139 92 246);
    --gradient-main: linear-gradient(
      90deg,
      rgb(139 92 246) 0%,   /* violet-500 */
      rgb(99 102 241) 45%,  /* indigo-500 */
      rgb(34 211 238) 100%  /* cyan-400 */
    );

    /* Hover Gradient */
    --gradient-main-hover: linear-gradient(
      90deg,
      rgb(109 40 217) 0%,   /* violet-700 */
      rgb(67 56 202) 45%,  /* indigo-700 */
      rgb(8 145 178) 100%  /* cyan-600 */
    );
  }
}

@layer utilities {
  /* Background Gradient */
  .bg-gradient-main {
    background: var(--gradient-main);
    background-size: 140% 140%;
  }
  .bg-gradient-main-hover:hover {
    background: var(--gradient-main-hover);
  }
  /* Text Gradient */
  .text-gradient-main {
    background: var(--gradient-main);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .text-gradient-main-hover:hover {
    background: var(--gradient-main);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

body {
  background:var(--main-bg);
  color: white;
  font-family: "Poppins", sans-serif;

}
.container{
  margin: auto;
  overflow: hidden;
}
@media (min-width: 768px) {
      .container{
    width: 760px;
  }
}
@media (min-width: 1024px) {
    .container{
    width: 990px;
  }
}
@media (min-width: 1280px) {
  .container{
    width: 1210px;
  }
}
@media (min-width: 1536px) {
}
@media (min-width: 992px) {
  .navLink::after{
    content: "";
    position: absolute;
    bottom: 15px;
    left: 0;
    width: 0%;
    height: 2px;
    background: var(--gradient-main);
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
  }
}
@media (max-width:992px){
  .navLink::after{
        content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0%;
    height: 2px;
    background: var(--gradient-main);
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
  }
}
.navLink:hover::after{
  width: 100%;
}
@media (max-width:650px){
  .container{
    padding: 0 5% !important;
  }
}
.header{
  background-image: url("../../public/header/background.png");
  position: relative;
  background-position: center 50px;
  background-repeat: no-repeat;
}
.header::before{
  content: "";
  position: absolute;
  backdrop-filter: blur(1px);
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(7, 7, 13, 0.3) 0%,
    rgba(10, 10, 20, 0.6) 50%,
    #000000 100%
  );
  top: 0;
  left: 0;
}
.PopularGames::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(7, 7, 13, 0.3) 0%,
    rgba(10, 10, 20, 0.6) 50%,
    #101828 100%
  );
  top: 0;
  left: 0;
}

.Community::after{
content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%; 
  pointer-events: none;
  background: linear-gradient(
 to bottom,
    #101828 0%,
    #101828 10%,
    #000000 100%
  );
  z-index: 1;
}
.header::after {
  content: '';
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.65) 0%,
    rgba(0, 0, 0, 0.25) 25%,
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 0.25) 75%,
    rgba(0, 0, 0, 0.65) 100%
  );
  z-index: 1;
}
.numberBox:hover{
  animation: moveingUpAndDown .5s linear;
  -webkit-animation: moveingUpAndDown .5s linear;
}
@keyframes moveingUpAndDown {
  0%{
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}
25%{
      transform: scale(1.1);
      -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
      -o-transform: scale(1.1);
}
50%{
      transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}
75%{
      transform: scale(1.1);
      -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
      -o-transform: scale(1.1);
}
100%{
      transform: scale(1);
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
}
}

.flexCenter{
  display: flex;
  justify-content: center;
  align-items: center;
}
.search::placeholder{
  font-size: 14px;
}
.container-left {
  margin-left: auto;
  margin-right: 0;
}
/* framer motion  */
.section {
  position: relative;
}
.progress {
  position: fixed;
  left: 0;
  right: 0;
  height: 5px;
  background: red;
  bottom: 100px;
}

.parallax {
  overflow: hidden;
  letter-spacing: -2px;
  line-height: 0.8;
  margin: 0;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
}

.parallax .scroller {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 30px;
  display: flex;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
}
@media (max-width:600px) {
  .parallax .scroller {
  font-size: 24px;
}
}
.parallax span {
  display: block;
  margin-right: 30px;
}

.chooseHead {
  display: inline-block;
}

.chooseHead::before,
.chooseHead::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 80%;
  height: 1.5px;
  background-color: var(--hr);
  transform: translateY(-50%);
}

.chooseHead::before {
  right: 100%;
  margin-right: 30px; 
}

.chooseHead::after {
  left: 100%; 
  margin-left: 30px;
}
@media (max-width:835px) {
.chooseHead::before,
.chooseHead::after {
  width: 50%;
}
}
@media (max-width:640px) {
.chooseHead::before,
.chooseHead::after {
  width: 40%;
}
}

@media (max-width:490px) {
.chooseHead::before,
.chooseHead::after {
width: 20%;
}
.chooseHead::before {
  margin-right: 10px; 
}

.chooseHead::after {
  margin-left: 10px;
}
}
.PopularGamesBox,.PopularGamesBoxSec{
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
}
.PopularGamesBox{
  transition-delay: .3s;
}
.PopularGamesBox::before {
  content: "";
  position: absolute;
  inset: -5px;
  background: var(--text-main-color);
  border-radius: 14px;
  filter: blur(12px);
  opacity: 0;
  transition: opacity 0.4s ease;
  z-index: -1;
}

.PopularGamesBox:hover::before {
  opacity: 1;
}
.PopularGamesBox:hover{
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
}
.PopularGamesBoxSec:hover{
    transform:scale(1.05);
    -webkit-transform:scale(1.05);
    -moz-transform:scale(1.05);
    -ms-transform:scale(1.05);
    -o-transform:scale(1.05);
}



/* globals.css أو ملف CSS الرئيسي */


